<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content1/css">
    <include path="~/Content1/bootstrap.css" />
    <include path="~/Content1/Site.css" />
  </styleBundle>
  <styleBundle path="~/Content1/bootstrap">
    <include path="~/Content1/bootstrap.css" />
  </styleBundle>
</bundles>