<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net461" />
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net461" />
  <package id="AspNet.ScriptManager.jQuery" version="3.3.1" targetFramework="net461" />
  <package id="bootstrap" version="5.1.0" targetFramework="net461" />
  <package id="Gcef.Data.DataEngine" version="2.0.186" targetFramework="net462" />
  <package id="Gcef.Data.ExpressionInfo" version="2.0.186" targetFramework="net462" />
  <package id="Gcef.Data.VBFunctionLib" version="2.0.186" targetFramework="net462" />
  <package id="Ghostscript.NET" version="1.2.3" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net461" />
  <package id="GrapeCity.ActiveReports.Chart.ja" version="14.2.20790" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.DataProviders" version="1.7.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Drawing.Gc" version="1.8.8" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Drawing.Gdi" version="1.8.8" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Image.Page" version="1.8.8" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Rdl" version="1.8.8" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Rendering" version="1.8.8" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Design.Win.ja" version="14.2.20790" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Document.ja" version="14.2.20790" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Image.ja" version="14.2.20790" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Rdf.ja" version="14.2.20790" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Interop.ja" version="14.2.20790" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.ja" version="14.2.20790" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Serializer.ja" version="14.2.20790" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Viewer.Win.ja" version="14.2.20790" targetFramework="net462" />
  <package id="Grapecity.DataVisualization" version="0.1.248" targetFramework="net462" />
  <package id="GrapeCity.Documents.Common" version="3.2.0.550" targetFramework="net462" />
  <package id="GrapeCity.Documents.Common.Windows" version="3.2.0.550" targetFramework="net462" />
  <package id="GrapeCity.Documents.DX.Windows" version="3.2.0.550" targetFramework="net462" />
  <package id="GrapeCity.Documents.Imaging" version="3.2.0.550" targetFramework="net462" />
  <package id="jQuery" version="3.3.1" targetFramework="net461" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net461" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net461" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.AspNet.FriendlyUrls" version="1.0.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.ScriptManager.MSAjax" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.ScriptManager.WebForms" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Web.Optimization.WebForms" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.5" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.VisualBasic" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.DpiAwareness" version="6.1.28916" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="5.0.4" targetFramework="net461" />
  <package id="Renci.SshNet.Abstractions" version="2016.1.0" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>